<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProjectProgressExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
  </appSettings>
  <userSettings>
    <ProjectProgressExport.Properties.Settings>
      <setting name="txtExcelClinicalSheetName" serializeAs="String">
        <value>进展项目-临床试验</value>
      </setting>
      <setting name="txtExcelClinicalProjectColumnName" serializeAs="String">
        <value>项目名称</value>
      </setting>
      <setting name="txtExcelClinicalMedicalColumnName" serializeAs="String">
        <value>医学支持内容/后续计划</value>
      </setting>
      <setting name="txtExcelClinicalStatisticsColumnName" serializeAs="String">
        <value>统计支持内容/后续计划</value>
      </setting>
      <setting name="txtExcelClinicalDataManageColumnName" serializeAs="String">
        <value>DM支持内容/后续计划</value>
      </setting>
      <setting name="txtExcelClinicalTitle" serializeAs="String">
        <value>一、临床试验-项目进度</value>
      </setting>
      <setting name="txtExcelCERSheetName" serializeAs="String">
        <value>进展项目-CER或其他</value>
      </setting>
      <setting name="txtExcelCERProjectColumnName" serializeAs="String">
        <value>项目名称</value>
      </setting>
      <setting name="txtExcelCERMedicalColumnName" serializeAs="String">
        <value>医学支持内容/后续计划</value>
      </setting>
      <setting name="txtExcelCERStatisticsColumnName" serializeAs="String">
        <value>统计支持内容/后续计划</value>
      </setting>
      <setting name="txtExcelCERTitle" serializeAs="String">
        <value>二、CER-项目进度</value>
      </setting>
    </ProjectProgressExport.Properties.Settings>
  </userSettings>
</configuration>